<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Rounded Number</mat-label>

    <input
      matInput
      formControlName="roundedNumber"
      placeholder="Enter rounded number"
    />
    <mat-error *ngIf="roundedNumberInput?.hasError('required')">
      Please enter a number rounded to hundreds.
    </mat-error>
    <mat-error *ngIf="roundedNumberInput?.hasError('pattern')">
      Please enter a valid number.
    </mat-error>
  </mat-form-field>

  <button mat-button type="submit">Submit</button>
</form>
