.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  app-uppercase-input,
  app-rounded-number-input,
  app-dropdown-input,
  app-calendar {
    margin: 10px; 
    
  }
  
  